*{
    margin:0px;
    padding:0px;

}
.Home{
    background-color: rgba(255, 255, 255, 0.605);
    height: 100vh;
    background-image: url("media/for\ home\ \ .png");
    background-size: cover;
}
.home-header{
    width:100vw;
    height:80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color:white;
    padding-top:15px;
}
.nav-div{
    display:flex;
   
    
}
.nav-div-li{
    list-style-type: none;
    margin-right :20px;
    background-color: green;
    height: 35px;
    width:120px;
    text-align: center;
    border-radius:15px;
    margin-top:16px;
    font-weight:bold;
    align-items: center;
    padding-top:5px;
}
.home-meditation{
    width:50vw;
    color:rgb(255, 255, 255);
    font-size:1.3rem;
    font-family: Arial;
    font-weight:550;
    position: absolute;
    top:60px;
    right:20px;
}
#home-medit-matter{
    margin-left:50px;
    margin-top:40px;
    -webkit-text-stroke: 0.6px black; 
    /* For webkit browsers (Chrome, Safari) */
  
}
#home-head-medit{
    padding-left:250px;
    font-size:3rem;
    font-weight:bolder;

}
.nav-div-li:hover{
    color:rgba(51, 9, 9, 0.723);
    cursor:pointer;
}
#nav-div-adv{
    width:185px;
}









