*{
    margin:0px;
    padding:0px;

}
.Home{
    background-color: rgba(255, 255, 255, 0.605);
    height: 100vh;
    background-image: url("media/homeback.jpg");
    background-size: cover;
}
.home-header{
    width:100vw;
    height:80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color:white;
    padding-top:15px;
}
/* .nav-div{
 display:flex;    
} */
.nav-div-li{
    margin-top:10px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;    
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
    background-color: rgb(17, 175, 193);
    color:black;
}
.nav-div-li:hover{
    background-color:#fff;
}
.home-meditation{
    width:50vw;
    color:#ffffff;
    font-size:1.3rem;
    font-family: Arial;
    font-weight:bolder;
    text-align: center;
    position: absolute;
    top:60px;
    left:20px;
}
#home-medit-matter{
    margin-left:50px;
    margin-top:60px;
    
    /* For webkit browsers (Chrome, Safari) */
  
}
#home-head-medit{
    padding-left:250px;
    font-size:3rem;
    font-weight:bolder;

}
/* .nav-div-li:hover{
    color:rgba(51, 9, 9, 0.723);
    cursor:pointer;
} */
#nav-div-adv{
    width:185px;
}









