*{
    margin:0px;
    padding:0px;
}
.Guest{
    background-image: url('media/space-girl-timer.png');
    background-size: cover;
    height:100vh;
}

.headr{
    display:flex;
    justify-content:space-between;
    background-color: rgb(0, 0, 0);
    height:70px;
    width:100vw;
}
#headr-medi,#headr-about{
    padding: 0px 35px;
    font-weight: bold;
    font-size: 1.5rem;
    color:rgb(17, 175, 193);
    margin-top:10px;
    
}
.navbar{
    height:40px;
    width: 100vw;
    color:white;
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-direction:row-reverse;

}
.navbar-list{
    margin-right:20px;
    font-size:1.3rem;
}
.navbar-list:hover{
    color:rgb(17, 175, 193);
    cursor:pointer;
}
.timer{
    margin-top:50px;
    background-color: rgba(184, 176, 176, 0.605);
    width:40vw;
    height:50vh;
    border-radius: 30px;
}   
.hero{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.favorites{
    background-color: rgba(225, 197, 197, 0.523);
    width:35vw;
    margin-top:50px;
    height:50vh;
    border-radius: 30px;

}
#favorites-tag{
    font-weight: bold;
    font-size:1.6rem;
}
#favorites-list{
    font-size:1.29rem;
    font-family: 'Garamond', serif;

    padding:10px;
    letter-spacing: -.01em;
    /* -webkit-text-stroke: 0.05px rgb(255, 255, 255);  */
}
#favorites-addses{
    font-size: 1.2rem;
    font-weight:600;
    background-color:rgb(17, 175, 193); /* changing color*/
    width:140px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}
#favorites-addses:hover{
    color:white;
}
#timer-time{
    font-size: 7rem;
    font-weight: bold;
}
#minutes,#seconds{
    cursor:pointer;
}
#button-stres,.button-minset,#addses-btn{
    margin-top:15px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;    
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
    background-color: #fff;
    color:black;
}
#button-stres:hover ,.button-minset:hover,#addses-btn:hover{
    background-color:rgb(17, 175, 193);
}
/* #addses-btn{
    margin-top:15px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
    background-color: rgb(17, 175, 193);
}
#addses-btn:hover{
    background-color:rgb(162, 229, 236);
} */
#del-ses-btn{
    margin-top:15px;
    display: inline-block;
    padding: 8px 13px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
    background-color: #b71c1c;
    color: #fff;
}
#del-ses-btn:hover{
    background-color:#8c1818;
}
#set-ses-btn{
    margin-top:15px;
    display: inline-block;
    padding: 8px 13px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
    background-color: #2e8b57;
    color: #fff;
}
#set-ses-btn:hover{
    background-color:#3cb371;
   
}


.bells{
    width:30px;
    height:20px;
}
.radio-label{
    margin:0px;
}
label{
    font-weight: bold;
}
